RK_YOCTO_CFG_CUSTOM=y
RK_YOCTO_CFG="khadas-edge2.conf"
RK_ROOTFS_SYSTEM_YOCTO=y
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="Edge2"
RK_UBOOT_CFG="khadas-edge2-rk3588s"
RK_KERNEL_CFG="kedges_defconfig"
RK_KERNEL_DTS_NAME="rk3588s-khadas-edge2"
RK_USE_FIT_IMG=y
